{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "_": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": [
    "plugin:no-jquery/deprecated",
    "plugin:json/recommended",
    "eslint:recommended",
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "html", "no-jquery", "etc"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "radix": "off",
    "no-magic-numbers": "warn",
    "etc/no-commented-out-code": "warn",
    "etc/no-t": "error"
  }
}
